//PALETA DE COLORES
$color-primero:#37a3a5;
$color-segundo: #61d5d6;
$color-tercero: #007476;
$white: white;
$black: black;
//
//TIPOGRAFIA GUIA ESTILOS
$title: 'Baloo Tammudu 2', cursive;
$text: 'Montserrat', sans-serif;

$backgroundLogin: rgba(207, 207, 207, 0.904);
$grayFormControl: #6e707e;
$borderFormControl: #d1d3e2;

 
